SECRET_KEY=changeme_secret_key_32_chars_min_
SERVER_PORT=3000

GOMME_DB_HOST=gomme-db
GOMME_DB_USER=gomme
GOMME_DB_PASSWORD=changeme_gomme_password
GOMME_DB_NAME=gomme
GOMME_DB_PORT=3306
GOMME_DB_ROOT_PASSWORD=changeme_gomme_root

mysql_image=mariadb:11
